<div class="form-gap"></div>
<div class="container">
  <div class="row row justify-content-md-center">
    <div class="col-md-4 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="text-center">
            <h3><i class="fa fa-unlock fa-4x"></i></h3>
            <h2 class="text-center">Reset password</h2>
            <div class="panel-body">

              <form [formGroup]="resetPasswordForm" id="reset-password-form" role="form" autocomplete="off" class="form" (ngSubmit)="resetPassword()">

                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                    <input formControlName="password" name="password" placeholder="password" class="form-control" type="password">
                  </div>
                </div>
                <div class="form-group">
                  <input name="recover-submit" class="btn btn-lg btn-secondary btn-block" value="Reset Password" type="submit">
                </div>

                <input type="hidden" class="hide" name="token" value="">
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
