<div class="form-gap"></div>
<div class="container">
  <div class="row row justify-content-md-center">
    <div class="col-md-4 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="text-center">
            <h3><i class="fa fa-user fa-4x"></i></h3>
            <h2 class="text-center">Sign Up</h2>
            <p>Let's make an account.</p>
            <div class="panel-body">

              <form [formGroup]="signupForm" id="signup-form" role="form" autocomplete="off" class="form" (ngSubmit)="login()">

                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                    <input formControlName="email" name="email" placeholder="email address" class="form-control" type="email">
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                    <input formControlName="password" name="password" placeholder="password" class="form-control" type="password">
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                    <input formControlName="confirmPassword" name="confirmPassword" placeholder="confirm password" class="form-control" type="password">
                  </div>
                </div>
                <div class="form-group">
                  <input name="recover-submit" class="btn btn-lg btn-dark btn-block" value="Sign Up" type="submit">
                </div>

                <div class="form-group">
                  <a [routerLink]="['/authorization/login']" class="signup-link">Log In</a>
                </div>

                <input type="hidden" class="hide" name="token" value="">
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


